/* Stylesheet for FitBuzz index page */

/* let the base unit for all margins be 4px. */
/* let all css declarations be alphabetized. */

h1 {
    margin: 0px;
}

a {
    color: #4C5363;
}

/* classes */
.dropdown {
    display: inline;
    margin-right: 24px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.plot-title {
    font-size: 20px;
    padding: 20px 20px 20px 20px;  
}

.datepicker-container {
    background-color: #4C5363;
    color: white;
    font-size: 14px;
    left: 0;
    padding: 10px 10px 10px 10px;
    top: 0;
    width: 100%;
    border-radius: 10px;
}

#datepicker {
    color: #4C5363;
}

#next-button {
    display: inline;
    margin-left: 24px;
}

#next-button-inner {
    background-color: #4C5363;
    border-color: #4C5363;
    padding: 4px 8px;
}

#next-button-inner:hover {
    background-color: #2B3849;
    border-color: #2B3849;
}

#next-button-inner:active {
    background-color: #1B2839;
    border-color: #1B2839;
}

.timeline-container {
    width: 750px;
}

#title-bar {
    background-color: #4C5363;
    color: white;
    font-size: 24px;
    left: 0;
    padding: 24px 0 24px 24px;
    top: 0;
    width: 100%;
}

#title-letter {
    color: #FFB300;
    font-size: 42px;
}


/* ids */
#colorF {
    color: #FFB300;
}

#container {
    margin: 0 24px;
}

#personal-greeting {
    margin: 8px 0;
}
