/* Stylesheet for FitBuzz index page */

/* let the base unit for all margins be 4px. */
/* let all css declarations be alphabetized. */

h1 {
    margin: 0px;
}

a {
    color: #4C5363;
}

/* classes */

.dropdown {
    display: inline;
    margin-right: 24px;
}

/* ids */
#colorF {
    color: #FFB300;
}

#container {
    margin: 0 24px;
}

#personal-greeting {
    margin: 8px 0;
}

#title-bar {
    background-color: #4C5363;
    color: white;
    font-size: 24px;
    left: 0;
    padding: 24px 0 24px 24px;
    top: 0;
    width: 100%;
}

#title-letter {
    color: #FFB300;
    font-size: 42px;
}
