label {
  margin-top: 50px;
  width: 500px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.datepicker-container {
    background-color: #4C5363;
    color: white;
    font-size: 15px;
    left: 0;
    padding: 13px 10px 10px 10px;
    top: 0;
    width: 100%;
    border-radius: 10px;
    height: 60px;
}

#datepicker {
  border-radius: 5px;
  padding: 0 5px 0 5px;
  height: 34px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.plot-title {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
}

.x.axis path {
  display: none;
}

#datepicker {
    color: #4C5363;
}

#heartrate-graph {
  display: inline-block;
}

#sleeptime-graph {
  display: inline-block;
}