<!doctype html>
<html ng-app="fitBuzz" ng-controller="FitBuzzController">
  <head>
  <!-- TODO(ginellegaisano): Look into cleaning this up-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- TODO(ginellegaisano): sort out issue with conflicting jQuery inclusion-->
  <!-- <script src="node_modules/jquery/dist/jquery.js"> </script> -->


  <script src="node_modules/angular/angular.js"> </script> <!-- switch to min.js for prod -->
  <script src="node_modules/underscore/underscore.js"> </script> <!-- switch to min.js for prod -->
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"> </script> <!-- switch to min.js for prod -->
  <script src="node_modules/d3/d3.min.js"> </script> <!-- switch to min.js for prod -->
  <script src="node_modules/vis/dist/vis.js"> </script> <!-- switch to min.js for prod -->
  <script src="packages/timepicker/jquery.timepicker.js"> </script> <!-- switch to min.js for prod -->
  <script src="js/const/const.js"> </script>
  <script src="js/common/common.js"> </script>
  <script src="js/src/schedule_calculation.js"> </script>
  <script src="main.js"></script>

  <script src="js/components/scheduler-picker.js"></script>
  <script src="js/components/plot-generator.js"></script>

  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="node_modules/vis/dist/vis.css">
  <link rel="stylesheet" type="text/css" href="packages/timepicker/jquery.timepicker.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="js/components/scheduler-picker.css">
  <link rel="stylesheet" type="text/css" href="js/components/plot-generator.css">
  </head>

  <body>
    <div id="title-bar">
    <!-- TODO(ginellegaisano): swap out with logo -->
    <strong id="title-letter">F</strong>itBuzz!
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="{{showScheduler ? 'active' : ''}}"><a href="#" ng-click="showScheduler = true">Sleep Schedule</a></li>
      <li role="presentation" class="{{!showScheduler ? 'active' : ''}}"><a href="#" ng-click="showScheduler = false">Analytics</a></li>
    </ul>
    <div id="container">
      <div id="personal-greeting">
        <strong>Hello, {{ yourName }}!</strong>
      </div>
      <div ng-show="showScheduler"><scheduler-picker/></div>
      <div ng-show="!showScheduler"><plot-generator/></div>
    </div>
  </body>
</html>
